
  .banner-text {
    display: flex;
    white-space: nowrap;
    align-items: center;
    text-align: center; 
    justify-content: center;
    margin-left: 100px;
  }
  
  .banner-item {
    margin-right: 20px;
  }
  